.botones{
    display: inline-flex;
    list-style: none;
    background-color: black;
    opacity: 50%;
    align-content:end ;
}
.footer{
    display: flex;
    padding: 5px;
}
li{
    margin: 10px;
    padding: 10px;
}

.box .box-container{
    display: flex;
    flex: 1 1 25rem;
    margin: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    background-image: url("images/frutos_secos.png");
}